<form [formGroup]="myForm">
  <div class="container">
    <div class="row dv-header clean-row">
      <h1 id="h1-label">Converter</h1>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <input type="text" class="form-control" formControlName="textInput" placeholder="Enter text to encode" [readonly]="isButtonConvertDisabled"
               [class.error]="myForm.get('textInput')?.invalid && myForm.get('textInput')?.touched" />
      </div>
      <div class="col-3"></div>
    </div>
    <br />
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 dv-buttons">
        <button class="btn btn-secondary" id="btn-convert" (click)="convertText()" [disabled]="isButtonConvertDisabled">Convert</button>
        <button class="btn btn-danger" id="btn-cancel" (click)="cancelCurrentRequest()" [disabled]="isButtonCancelDisabled">Cancel</button>
      </div>
      <div class="col-3"></div>
    </div>
    <br />
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <label for="txt-result">Result</label>
        <input type="text" [(ngModel)]="ngtxtOutput" [ngModelOptions]="{standalone: true}" class="form-control" id="txt-result" readonly="readonly">
      </div>
      <div class="col-3"></div>
    </div>
    <br />
    <div *ngIf="isButtonConvertDisabled" class="loading-container">
      <div class="loading-dots">{{ loadingDots }}</div>
    </div>
  </div>
</form>
