#txt-result{
    width: 101.4%;
}

.dv-buttons {
  text-align: center; 
}

.dv-buttons button {
  margin: 5px; 
}

.error {
  border-color: red;
}

.dv-header {
  text-align: center;
}

#h1-label {
  margin-top: 20%;
  margin-bottom: 2%;
  font-size: 80px;
  font-family : 'Roboto', sans-serif;
}

.loading-container {
  text-align: center;
}

.loading-dots {
  margin-top: -10%;
  font-size: 150px;
  animation: loading-ellipsis 1s infinite;
}

@keyframes loading-ellipsis {
  0% {
    content: ".";
  }

  33% {
    content: "..";
  }

  66% {
    content: "...";
  }
}
